# distribution builds and documentation builds
/dist/
/docs/
/npm/
/temp/
/package.json
/tsconfig.json

# cache files and directories
.deno/
node_modules/

# version lock files
deno.lock
deno.d.ts
package-lock.json

# test artifacts
/test/**/dist/
